.posts {
    position: relative;
    display: flex; 
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
  }
  .posts-container {
    width: 100%;
    padding: 0 20px;
    margin: 40px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .posts__post {
    margin: 12px 0;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
  .posts__post:nth-child(1) {
    margin-right: 0;
  }
  .posts__post:nth-child(4) {
    margin-left: 0;
  }
  
  .posts__post-pic img {
    height: 100%;
  }
  .posts__post-pic {
    width: 100%;
    height: 580px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .posts__post-caption {
    margin: 8px 12px;
    padding: 0 16px;
  }
  .posts__post-caption p {
    font-size: 13px;
    line-height: 2.1;
    height: 60px;
  }